#### Import necessary libraries

In [5]:
 # %pip install names

Collecting namesNote: you may need to restart the kernel to use updated packages.

  Downloading names-0.3.0.tar.gz (789 kB)
     -------------------------------------- 789.1/789.1 kB 8.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: names
  Building wheel for names (setup.py): started
  Building wheel for names (setup.py): finished with status 'done'
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803682 sha256=e197cb3b2d20dc8291bb299ce039f9f0a188ed522c61e8f699ae0bc8b762192e
  Stored in directory: c:\users\sujat\appdata\local\pip\cache\wheels\f1\bc\04\55ab9499ea02359ece8b02b4169ebb30aa52d82b84c13fc506
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [3]:
import numpy as np
import names

In [2]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client['student_marks']
collection = db['marks']

#### Entering Data into MongoDB

In [5]:
for i in range(125):
    ch = np.random.randint(0,2)
    if ch == 0:
        name = names.get_first_name(gender='male')
        gender = 'M'
    elif ch == 1:
        name = names.get_first_name(gender='female')
        gender = 'F'    
    roll = f'0{i+1}'
    maths = np.random.randint(0, 100)
    english = np.random.randint(0, 100)
    physics = np.random.randint(0, 100)
    chemistry = np.random.randint(0, 100)
    biology = np.random.randint(0, 100)

    record = {
        'name': name,
        'roll': roll,
        'gender': gender,
        'maths': maths,
        'english': english,
        'physics': physics,
        'chemistry': chemistry,
        'biology': biology
    }
    collection.insert_one(record)

#### Testing Query

Populating Database

In [14]:
import names
for i in range(10):
    ch = np.random.randint(0,2)
    if ch == 0:
        name = names.get_first_name(gender='male')
        gender = 'M'
    elif ch == 1:
        name = names.get_first_name(gender='female')
        gender = 'F'
    roll = f'0{i+7}'
    maths = np.random.randint(0, 100)
    english = np.random.randint(0, 100)
    physics = np.random.randint(0, 100)
    chemistry = np.random.randint(0, 100)
    biology = np.random.randint(0, 100)

    record = {
        'name': name,
        'gender': gender, 
        'roll': roll,
        'maths': maths,
        'english': english,
        'physics': physics,
        'chemistry': chemistry,
        'biology': biology
    }

    print(record)

{'name': 'Maria', 'gender': 'F', 'roll': '07', 'maths': 57, 'english': 90, 'physics': 31, 'chemistry': 71, 'biology': 81}
{'name': 'Vincent', 'gender': 'M', 'roll': '08', 'maths': 54, 'english': 63, 'physics': 20, 'chemistry': 71, 'biology': 22}
{'name': 'John', 'gender': 'M', 'roll': '09', 'maths': 76, 'english': 1, 'physics': 87, 'chemistry': 81, 'biology': 9}
{'name': 'Michael', 'gender': 'M', 'roll': '010', 'maths': 99, 'english': 65, 'physics': 86, 'chemistry': 7, 'biology': 2}
{'name': 'Erica', 'gender': 'F', 'roll': '011', 'maths': 2, 'english': 54, 'physics': 7, 'chemistry': 39, 'biology': 62}
{'name': 'David', 'gender': 'M', 'roll': '012', 'maths': 85, 'english': 4, 'physics': 66, 'chemistry': 7, 'biology': 69}
{'name': 'Terry', 'gender': 'M', 'roll': '013', 'maths': 67, 'english': 85, 'physics': 51, 'chemistry': 71, 'biology': 74}
{'name': 'Laurence', 'gender': 'M', 'roll': '014', 'maths': 4, 'english': 18, 'physics': 34, 'chemistry': 33, 'biology': 55}
{'name': 'Amanda', 'gender': 'F', 'roll': '015', 'maths': 17, 'english': 16, 'physics': 45, 'chemistry': 66, 'biology': 32}
{'name': 'Antonio', 'gender': 'M', 'roll': '016', 'maths': 55, 'english': 48, 'physics': 84, 'chemistry': 78, 'biology': 74}

Editing record

In [11]:
name_1 = 'Ally'
roll_1 = '0126'
maths = 1
english = 2
physics = 3
chemistry = 4
biology = 5
collection.update_one(
    {'roll' : roll_1, 'name': name_1},
    {
        '$set' :{
            'maths': maths,
            'english': english,
            'physics': physics,
            'chemistry': chemistry,
            'biology': biology

        }
    }
)

Finding percentage

In [52]:
name_1 = 'Jason'
roll_1 = '04'
stud = list(collection.aggregate([
    {'$match':{'roll':roll_1, 'name':name_1}},
    {
        '$addFields':{
            'total_marks': {
                '$sum':['$maths','$english','$physics','$chemistry','$biology']
            }
        }
    },
    {
        '$addFields':{
            'total_percentage':{
                '$divide':['$total_marks',5]
            }

        }

    }
    ]))
stud_detail = {}
stud_detail = stud[0]
print(stud_detail['name'],stud_detail['total_percentage'])

Jason 39.8

Finding Percentile

In [143]:
name_1 = 'Trista'
roll_1 = '0121'
# Get the target student
target_student = collection.find_one({'name': name_1, 'roll': roll_1})

# Get the total number of students
total_students = collection.count_documents({})

# Sort the student records by total marks in descending order
pipeline = [
    {
        
        '$project': {
            'name': 1,
            'roll': 1,
            'total_marks': {
                '$sum': ['$maths', '$english', '$physics', '$chemistry', '$biology']
            }
        }
    },
    {
        '$sort': {'total_marks': -1}
    }
]
sorted_students = list(collection.aggregate(pipeline))
total_marks_list = [doc['total_marks'] for doc in sorted_students]

# Find the rank of the target student
for student in sorted_students:
    if student['_id'] == target_student['_id']:
        target_total_marks = student['total_marks']
        students_less_than_target = len([marks for marks in total_marks_list if marks <= target_total_marks])
        break

# Calculate the percentile
percentile = ( students_less_than_target / total_students) * 100

list_of_toppers = []
# Calculate class topper
for student in sorted_students:
    if student['total_marks'] == total_marks_list[0]:
        list_of_toppers.append(student)

In [150]:
print(list_of_toppers[0]['name'])

Ronnie

In [142]:
print(percentile)

96.8

In [136]:
121/125

0.968

In [117]:
print(list(sorted_students))

[{'_id': ObjectId('64738660c439dff35e578fb4'), 'name': 'Ronnie', 'roll': '05', 'total_marks': 340}, {'_id': ObjectId('64738660c439dff35e578fb9'), 'name': 'Kathy', 'roll': '010', 'total_marks': 340}, {'_id': ObjectId('64738660c439dff35e578fc4'), 'name': 'Christopher', 'roll': '021', 'total_marks': 340}, {'_id': ObjectId('64738660c439dff35e57902b'), 'name': 'Paul', 'roll': '0124', 'total_marks': 340}, {'_id': ObjectId('64738660c439dff35e579028'), 'name': 'Trista', 'roll': '0121', 'total_marks': 339}, {'_id': ObjectId('64738660c439dff35e578fda'), 'name': 'William', 'roll': '043', 'total_marks': 338}, {'_id': ObjectId('64738660c439dff35e578fef'), 'name': 'Maria', 'roll': '064', 'total_marks': 337}, {'_id': ObjectId('64738660c439dff35e57901a'), 'name': 'Anne', 'roll': '0107', 'total_marks': 334}, {'_id': ObjectId('64738660c439dff35e578fc1'), 'name': 'Nathaniel', 'roll': '018', 'total_marks': 330}, {'_id': ObjectId('64738660c439dff35e578ff7'), 'name': 'Michael', 'roll': '072', 'total_marks': 327}, {'_id': ObjectId('64738660c439dff35e578fb7'), 'name': 'Heather', 'roll': '08', 'total_marks': 325}, {'_id': ObjectId('64738660c439dff35e57901e'), 'name': 'Elouise', 'roll': '0111', 'total_marks': 316}, {'_id': ObjectId('64738660c439dff35e578fc2'), 'name': 'Lucille', 'roll': '019', 'total_marks': 313}, {'_id': ObjectId('64738660c439dff35e57901c'), 'name': 'John', 'roll': '0109', 'total_marks': 313}, {'_id': ObjectId('64738660c439dff35e579009'), 'name': 'Judy', 'roll': '090', 'total_marks': 311}, {'_id': ObjectId('64738660c439dff35e57902c'), 'name': 'Santiago', 'roll': '0125', 'total_marks': 311}, {'_id': ObjectId('64738660c439dff35e578fd5'), 'name': 'Tammy', 'roll': '038', 'total_marks': 310}, {'_id': ObjectId('64738660c439dff35e578ff5'), 'name': 'Robert', 'roll': '070', 'total_marks': 308}, {'_id': ObjectId('64738660c439dff35e578fb5'), 'name': 'Eugene', 'roll': '06', 'total_marks': 307}, {'_id': ObjectId('64738660c439dff35e57900f'), 'name': 'Bessie', 'roll': '096', 'total_marks': 304}, {'_id': ObjectId('64738660c439dff35e579014'), 'name': 'Jo', 'roll': '0101', 'total_marks': 300}, {'_id': ObjectId('64738660c439dff35e57900c'), 'name': 'Timothy', 'roll': '093', 'total_marks': 299}, {'_id': ObjectId('64738660c439dff35e578fc7'), 'name': 'Katie', 'roll': '024', 'total_marks': 296}, {'_id': ObjectId('64738660c439dff35e578fd3'), 'name': 'Jeannette', 'roll': '036', 'total_marks': 293}, {'_id': ObjectId('64738660c439dff35e57902a'), 'name': 'Brian', 'roll': '0123', 'total_marks': 292}, {'_id': ObjectId('64738660c439dff35e578fd7'), 'name': 'Letty', 'roll': '040', 'total_marks': 289}, {'_id': ObjectId('64738660c439dff35e578fd2'), 'name': 'William', 'roll': '035', 'total_marks': 287}, {'_id': ObjectId('64738660c439dff35e578fcf'), 'name': 'Tony', 'roll': '032', 'total_marks': 286}, {'_id': ObjectId('64738660c439dff35e578ffb'), 'name': 'Douglas', 'roll': '076', 'total_marks': 286}, {'_id': ObjectId('64738660c439dff35e578fdb'), 'name': 'Ruth', 'roll': '044', 'total_marks': 284}, {'_id': ObjectId('64738660c439dff35e578fe8'), 'name': 'Samuel', 'roll': '057', 'total_marks': 282}, {'_id': ObjectId('64738660c439dff35e579022'), 'name': 'Mary', 'roll': '0115', 'total_marks': 278}, {'_id': ObjectId('64738660c439dff35e57900e'), 'name': 'Hyman', 'roll': '095', 'total_marks': 277}, {'_id': ObjectId('64738660c439dff35e579011'), 'name': 'David', 'roll': '098', 'total_marks': 276}, {'_id': ObjectId('64738660c439dff35e578ffd'), 'name': 'Robert', 'roll': '078', 'total_marks': 274}, {'_id': ObjectId('64738660c439dff35e578feb'), 'name': 'Samuel', 'roll': '060', 'total_marks': 273}, {'_id': ObjectId('64738660c439dff35e578ff4'), 'name': 'Maria', 'roll': '069', 'total_marks': 273}, {'_id': ObjectId('64738660c439dff35e57900a'), 'name': 'Samuel', 'roll': '091', 'total_marks': 273}, {'_id': ObjectId('64738660c439dff35e57900b'), 'name': 'Carrie', 'roll': '092', 'total_marks': 273}, {'_id': ObjectId('64738660c439dff35e579018'), 'name': 'Timothy', 'roll': '0105', 'total_marks': 273}, {'_id': ObjectId('64738660c439dff35e578fd0'), 'name': 'Douglas', 'roll': '033', 'total_marks': 272}, {'_id': ObjectId('64738660c439dff35e578fe1'), 'name': 'Fidel', 'roll': '050', 'total_marks': 269}, {'_id': ObjectId('64738660c439dff35e578fe3'), 'name': 'Richard', 'roll': '052', 'total_marks': 269}, {'_id': ObjectId('64738660c439dff35e578fb6'), 'name': 'Walter', 'roll': '07', 'total_marks': 267}, {'_id': ObjectId('64738660c439dff35e578fdd'), 'name': 'Thomas', 'roll': '046', 'total_marks': 266}, {'_id': ObjectId('64738660c439dff35e578fb0'), 'name': 'Margaret', 'roll': '01', 'total_marks': 265}, {'_id': ObjectId('64738660c439dff35e578fb2'), 'name': 'Carolyn', 'roll': '03', 'total_marks': 265}, {'_id': ObjectId('64738660c439dff35e578ff0'), 'name': 'Geri', 'roll': '065', 'total_marks': 265}, {'_id': ObjectId('64738660c439dff35e578fea'), 'name': 'Gene', 'roll': '059', 'total_marks': 262}, {'_id': ObjectId('64738660c439dff35e578fc0'), 'name': 'Brandon', 'roll': '017', 'total_marks': 261}, {'_id': ObjectId('64738660c439dff35e578fc5'), 'name': 'Judy', 'roll': '022', 'total_marks': 261}, {'_id': ObjectId('64738660c439dff35e578ffe'), 'name': 'Leon', 'roll': '079', 'total_marks': 261}, {'_id': ObjectId('64738660c439dff35e578fe6'), 'name': 'Danilo', 'roll': '055', 'total_marks': 259}, {'_id': ObjectId('64738660c439dff35e579024'), 'name': 'Willie', 'roll': '0117', 'total_marks': 259}, {'_id': ObjectId('64738660c439dff35e578fed'), 'name': 'Claudette', 'roll': '062', 'total_marks': 257}, {'_id': ObjectId('64738660c439dff35e578fc3'), 'name': 'Byron', 'roll': '020', 'total_marks': 255}, {'_id': ObjectId('64738660c439dff35e578fd4'), 'name': 'Tracy', 'roll': '037', 'total_marks': 253}, {'_id': ObjectId('64738660c439dff35e579006'), 'name': 'Bernard', 'roll': '087', 'total_marks': 252}, {'_id': ObjectId('64738660c439dff35e578fc6'), 'name': 'Gary', 'roll': '023', 'total_marks': 251}, {'_id': ObjectId('64738660c439dff35e578fd8'), 'name': 'James', 'roll': '041', 'total_marks': 250}, {'_id': ObjectId('64738660c439dff35e578fe5'), 'name': 'Lee', 'roll': '054', 'total_marks': 250}, {'_id': ObjectId('64738660c439dff35e579029'), 'name': 'Kenneth', 'roll': '0122', 'total_marks': 249}, {'_id': ObjectId('64738660c439dff35e578fee'), 'name': 'Douglas', 'roll': '063', 'total_marks': 247}, {'_id': ObjectId('64738660c439dff35e578ff9'), 'name': 'Alphonse', 'roll': '074', 'total_marks': 244}, {'_id': ObjectId('64738660c439dff35e579000'), 'name': 'Pamela', 'roll': '081', 'total_marks': 243}, {'_id': ObjectId('64738660c439dff35e578fc9'), 'name': 'Sandra', 'roll': '026', 'total_marks': 241}, {'_id': ObjectId('64738660c439dff35e578fba'), 'name': 'Joseph', 'roll': '011', 'total_marks': 240}, {'_id': ObjectId('64738660c439dff35e578fd1'), 'name': 'Dawn', 'roll': '034', 'total_marks': 239}, {'_id': ObjectId('64738660c439dff35e579003'), 'name': 'Annie', 'roll': '084', 'total_marks': 239}, {'_id': ObjectId('64738660c439dff35e579002'), 'name': 'Karyn', 'roll': '083', 'total_marks': 238}, {'_id': ObjectId('64738660c439dff35e578fe4'), 'name': 'Wayne', 'roll': '053', 'total_marks': 237}, {'_id': ObjectId('64738660c439dff35e578fc8'), 'name': 'Anthony', 'roll': '025', 'total_marks': 235}, {'_id': ObjectId('64738660c439dff35e579023'), 'name': 'Ross', 'roll': '0116', 'total_marks': 235}, {'_id': ObjectId('64738660c439dff35e579012'), 'name': 'Sara', 'roll': '099', 'total_marks': 233}, {'_id': ObjectId('64738660c439dff35e578ff6'), 'name': 'Paula', 'roll': '071', 'total_marks': 230}, {'_id': ObjectId('64738660c439dff35e578ff8'), 'name': 'Terri', 'roll': '073', 'total_marks': 227}, {'_id': ObjectId('64738660c439dff35e579020'), 'name': 'Michael', 'roll': '0113', 'total_marks': 225}, {'_id': ObjectId('64738660c439dff35e578fcd'), 'name': 'Roy', 'roll': '030', 'total_marks': 224}, {'_id': ObjectId('64738660c439dff35e578fe2'), 'name': 'Zachary', 'roll': '051', 'total_marks': 224}, {'_id': ObjectId('64738660c439dff35e578fe7'), 'name': 'Micah', 'roll': '056', 'total_marks': 224}, {'_id': ObjectId('64738660c439dff35e579027'), 'name': 'Jesus', 'roll': '0120', 'total_marks': 224}, {'_id': ObjectId('64738660c439dff35e57901d'), 'name': 'Lisa', 'roll': '0110', 'total_marks': 223}, {'_id': ObjectId('64738660c439dff35e578fbc'), 'name': 'Robin', 'roll': '013', 'total_marks': 221}, {'_id': ObjectId('64738660c439dff35e57901f'), 'name': 'Bonnie', 'roll': '0112', 'total_marks': 221}, {'_id': ObjectId('64738660c439dff35e578ff3'), 'name': 'Holly', 'roll': '068', 'total_marks': 220}, {'_id': ObjectId('64738660c439dff35e578ffc'), 'name': 'Carrie', 'roll': '077', 'total_marks': 220}, {'_id': ObjectId('64738660c439dff35e578fdf'), 'name': 'Sallie', 'roll': '048', 'total_marks': 217}, {'_id': ObjectId('64738660c439dff35e579016'), 'name': 'Michael', 'roll': '0103', 'total_marks': 217}, {'_id': ObjectId('64738660c439dff35e578fcb'), 'name': 'Evelin', 'roll': '028', 'total_marks': 216}, {'_id': ObjectId('64738660c439dff35e578fff'), 'name': 'Frances', 'roll': '080', 'total_marks': 215}, {'_id': ObjectId('64738660c439dff35e579005'), 'name': 'Jerry', 'roll': '086', 'total_marks': 215}, {'_id': ObjectId('64738660c439dff35e579008'), 'name': 'Jason', 'roll': '089', 'total_marks': 213}, {'_id': ObjectId('64738660c439dff35e579010'), 'name': 'Winona', 'roll': '097', 'total_marks': 209}, {'_id': ObjectId('64738660c439dff35e57901b'), 'name': 'David', 'roll': '0108', 'total_marks': 209}, {'_id': ObjectId('64738660c439dff35e579025'), 'name': 'Jack', 'roll': '0118', 'total_marks': 209}, {'_id': ObjectId('64738660c439dff35e578fd6'), 'name': 'Charles', 'roll': '039', 'total_marks': 208}, {'_id': ObjectId('64738660c439dff35e578fe9'), 'name': 'Jasmine', 'roll': '058', 'total_marks': 208}, {'_id': ObjectId('64738660c439dff35e578ff2'), 'name': 'Julie', 'roll': '067', 'total_marks': 207}, {'_id': ObjectId('64738660c439dff35e57900d'), 'name': 'Jane', 'roll': '094', 'total_marks': 205}, {'_id': ObjectId('64738660c439dff35e578fbe'), 'name': 'Stephen', 'roll': '015', 'total_marks': 204}, {'_id': ObjectId('64738660c439dff35e579015'), 'name': 'Donald', 'roll': '0102', 'total_marks': 204}, {'_id': ObjectId('64738660c439dff35e578fb3'), 'name': 'Jason', 'roll': '04', 'total_marks': 199}, {'_id': ObjectId('64738660c439dff35e578fde'), 'name': 'Edward', 'roll': '047', 'total_marks': 195}, {'_id': ObjectId('64738660c439dff35e578fce'), 'name': 'Ernest', 'roll': '031', 'total_marks': 191}, {'_id': ObjectId('64738660c439dff35e578fdc'), 'name': 'Sophie', 'roll': '045', 'total_marks': 187}, {'_id': ObjectId('64738660c439dff35e578fbf'), 'name': 'Ronald', 'roll': '016', 'total_marks': 185}, {'_id': ObjectId('64738660c439dff35e578fb1'), 'name': 'Christina', 'roll': '02', 'total_marks': 181}, {'_id': ObjectId('64738660c439dff35e578fbb'), 'name': 'Joseph', 'roll': '012', 'total_marks': 179}, {'_id': ObjectId('64738660c439dff35e579026'), 'name': 'John', 'roll': '0119', 'total_marks': 178}, {'_id': ObjectId('64738660c439dff35e578ffa'), 'name': 'Dale', 'roll': '075', 'total_marks': 176}, {'_id': ObjectId('64738660c439dff35e579013'), 'name': 'Fern', 'roll': '0100', 'total_marks': 174}, {'_id': ObjectId('64738660c439dff35e579017'), 'name': 'Marie', 'roll': '0104', 'total_marks': 171}, {'_id': ObjectId('64738660c439dff35e578fe0'), 'name': 'Karen', 'roll': '049', 'total_marks': 163}, {'_id': ObjectId('64738660c439dff35e579007'), 'name': 'James', 'roll': '088', 'total_marks': 163}, {'_id': ObjectId('64738660c439dff35e578fb8'), 'name': 'Jake', 'roll': '09', 'total_marks': 160}, {'_id': ObjectId('64738660c439dff35e578ff1'), 'name': 'Kathryn', 'roll': '066', 'total_marks': 154}, {'_id': ObjectId('64738660c439dff35e579021'), 'name': 'Juan', 'roll': '0114', 'total_marks': 151}, {'_id': ObjectId('64738660c439dff35e578fd9'), 'name': 'Charles', 'roll': '042', 'total_marks': 140}, {'_id': ObjectId('64738660c439dff35e578fec'), 'name': 'Douglas', 'roll': '061', 'total_marks': 139}, {'_id': ObjectId('64738660c439dff35e578fbd'), 'name': 'Margarette', 'roll': '014', 'total_marks': 136}, {'_id': ObjectId('64738660c439dff35e578fcc'), 'name': 'Donald', 'roll': '029', 'total_marks': 121}, {'_id': ObjectId('64738660c439dff35e579001'), 'name': 'Adam', 'roll': '082', 'total_marks': 120}, {'_id': ObjectId('64738660c439dff35e579004'), 'name': 'Trevor', 'roll': '085', 'total_marks': 119}, {'_id': ObjectId('64738660c439dff35e579019'), 'name': 'Lorrine', 'roll': '0106', 'total_marks': 107}, {'_id': ObjectId('64738660c439dff35e578fca'), 'name': 'Mary', 'roll': '027', 'total_marks': 87}]

Deleting record

In [10]:
name_1 = 'Ally'
roll_1 = '0126'
collection.delete_one({'roll' : roll_1, 'name': name_1})